/* {
  outline: 3px solid blueviolet;
}*/ 

body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(150deg, #091413, #0c1b1a, #132d2a);
}

/* STUDENT */
.usercard {
    display: flex;
    align-items: center;
    height: 100px;
    width: 400px;
    margin: 100px auto 50px;
    background-image: linear-gradient(20deg, #285A48, #285A48, #408A71, #408A71, #67c89b);
    border-radius: 25px;
    
}

img {
    height: 60px;
    width: 60px;
    margin-left: 30px;
    border-radius: 50%;
}

.name {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    font-size: 29px;
    margin-top: -5px;
}

.email {
    position: absolute;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 110px;
    margin-top: 40px;
    font-size: 19px;
}

/* CARD CONTENT */
.cards-cont {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 250px;
    background-color: #f2f2f2;
    border-radius: 25px;
    box-shadow: none;
    transition: 0.3s ease;
}

.card:hover {
    background-color: white;
    transform: scale(1.1);
    box-shadow: 3px 5px 20px #41987b;
}

.shape {
    width: 200px;
    height: 200px;
    background-color: #f2f2f2;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.shape:hover {
    background-color: white;
}

.A {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.A-top {
    margin-left: -160px;
    margin-top: -180px;
}

.A-bottom {
    rotate: 180deg;
    margin-right: -160px;
    margin-bottom: -180px;
}

.A-red {
    color: red;
}

/* DIAMOND */
.diamond{
    width: 60px;
    height: 60px;
    background-color: red;
    transform: rotate(45deg);
}

/* HEART */
.circle-heart-left{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    margin-top: -18.5px;
    margin-left: -39.8px;
}

 .circle-heart-right{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    margin-top: -18.5px;
    margin-right: -39.8px;
}

.heart-bottom{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-top: 21.5px;
    background-color: red;
    transform: rotate(45deg);
    border: 0px white solid;
}

/* SPADE */
.circle-spade-left{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    margin-bottom: -18.5px;
    margin-left: -39.8px;
}

 .circle-spade-right{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    margin-bottom: -18.5px;
    margin-right: -39.8px;
}

.spade-top{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-bottom: 21.5px;
    background-color: black;
    transform: rotate(45deg);
}

.black-bottom{
    width: 15px;
    height: 15px;
    background-color: black;
    transform: rotate(45deg);
    border-radius: 0 0 30px 0;
    margin-top: 75px;
}


/* CLUBS */
.circle-club-left{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    margin-bottom: -18.5px;
    margin-left: -39.8px;
}

 .circle-club-right{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    margin-bottom: -18.5px;
    margin-right: -39.8px;
}

.club-top{
    position: absolute;
    width: 50px;
    height: 50px;
    margin-bottom: 50px;
    background-color: black;
    border-radius: 50%;

}

/* FOOTER */

h4 {
    color: #f2f2f28e;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    text-align: center;
}

.practice-num {
    color: #f2f2f25e;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: lighter;
    text-align: center;
}